<h2>New note</h2>

<fieldset>
  <legend>Write note</legend>
  <label for="viewer-textarea">(add new)</label>
  <textarea rows="15" cols="100" id="viewer-textarea"></textarea>
  <br />
  <button id="viewer-send" disabled>Add</button>
</fieldset>